In [3]:
# Import Necessary Libraries

from pyspark.sql import SparkSession
from pyspark.sql import DataFrameWriter
from pyspark.sql.functions import monotonically_increasing_id
import os
import psycopg2

In [4]:
# set java home 
os.environ['JAVA_HOME'] = 'C:\java8'

In [6]:
# Initialize my spark session
spark = SparkSession.builder \
        .appName("Nuga Bank ETL") \
        .config("spark.jars", "postgresql-42.7.5.jar") \
        .getOrCreate()

In [7]:
spark

In [11]:
# Extract the historical data into a spark dataframe

df = spark.read.csv(r'dataset\rawdata\nuga_bank_transactions.csv', header = True, inferSchema = True)

In [13]:
df.show(5)

+--------------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
|    Transaction_Date|Amount|Transaction_Type| Customer_Name|    Customer_Address|     Customer_City|Customer_State|    Customer_Country|             Company|           Job_Title|               Email|       Phone_Number|Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|Group|Is_Active|        Last_Updated|         Description|Gender|Marital_Status|
+--------------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
|2024-03-23 15:38:...| 34.76|      Withdrawal|    James Neal|54912 Holmes Lodg...| West Keithborough|       Florida|                Togo|Benson, Johnson a...|                null|                null|  493.720.6609x7545|  3592901394693441|GB98RBPP090285271...|          MAD|       3167.0|       C|    Z|       No|2020-06-20 03:04:...|Yeah food anythin...| Other|      Divorced|
|2024-04-22 19:15:...|163.92|      Withdrawal|   Thomas Long| 1133 Collin Passage|        Joshuabury|   Connecticut|Lao People's Demo...|                null|   Food technologist|michellelynch@exa...|      (497)554-3317|              null|GB03KFZR339662263...|          VEF|       2122.0|       B|    Z|     null|2020-12-27 13:23:...|Teach edge make n...|Female|       Married|
|2024-04-12 19:46:...|386.32|      Withdrawal|Ashley Shelton|5297 Johnson Port...|       North Maria|    New Jersey|              Bhutan|       Jones-Mueller|Database administ...| ljordan@example.org|      (534)769-3072|      675983949974|GB59QYRN446730519...|          COP|       7796.0|       C|    Z|       No|2020-01-24 01:23:...|Again line face c...| Other|          null|
|2024-04-17 15:29:...|407.15|         Deposit| James Rosario|56955 Moore Glens...|North Michellefurt|    New Mexico|             Iceland|       Vargas-Harris|Horticultural the...|parkerjames@examp...|+1-447-900-1320x257|     4761202519057|GB74FTDO268299438...|          BWP|       6284.0|       C|    Z|      Yes|2023-09-27 03:01:...|     Bag my a drive.|  null|          null|
|2024-02-10 01:51:...|161.31|         Deposit|Miguel Leonard|262 Beck Expressw...|              null| West Virginia|             Eritrea|Richardson, Gonza...|   Minerals surveyor| zweaver@example.net|               null|   213156729655186|GB94EWRN587847592...|          SOS|       9179.0|       C|    Y|       No|2022-01-22 19:08:...|Husband find ok w...|Female|       Married|
+--------------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
only showing top 5 rows

In [15]:
df.printSchema()

root
 |-- Transaction_Date: timestamp (nullable = true)
 |-- Amount: double (nullable = true)
 |-- Transaction_Type: string (nullable = true)
 |-- Customer_Name: string (nullable = true)
 |-- Customer_Address: string (nullable = true)
 |-- Customer_City: string (nullable = true)
 |-- Customer_State: string (nullable = true)
 |-- Customer_Country: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Job_Title: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_Number: string (nullable = true)
 |-- Credit_Card_Number: long (nullable = true)
 |-- IBAN: string (nullable = true)
 |-- Currency_Code: string (nullable = true)
 |-- Random_Number: double (nullable = true)
 |-- Category: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Is_Active: string (nullable = true)
 |-- Last_Updated: timestamp (nullable = true)
 |-- Description: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Marital_Status: string (nullable = true)

In [17]:
# Data cleaning and transformation

for column in df.columns:
    print(column, 'Nulls: ', df.filter(df[column].isNull()).count() )

Transaction_Date Nulls:  0
Amount Nulls:  0
Transaction_Type Nulls:  0
Customer_Name Nulls:  100425
Customer_Address Nulls:  100087
Customer_City Nulls:  100034
Customer_State Nulls:  100009
Customer_Country Nulls:  100672
Company Nulls:  100295
Job_Title Nulls:  99924
Email Nulls:  100043
Phone_Number Nulls:  100524
Credit_Card_Number Nulls:  100085
IBAN Nulls:  100300
Currency_Code Nulls:  99342
Random_Number Nulls:  99913
Category Nulls:  100332
Group Nulls:  100209
Is_Active Nulls:  100259
Last_Updated Nulls:  100321
Description Nulls:  100403
Gender Nulls:  99767
Marital_Status Nulls:  99904

In [18]:
df.describe().show()

+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+-------------------+--------------------+--------------------+-------------+-----------------+--------+------+---------+--------------------+------+--------------+
|summary|            Amount|Transaction_Type|Customer_Name|    Customer_Address|Customer_City|Customer_State|Customer_Country|      Company|         Job_Title|              Email|       Phone_Number|  Credit_Card_Number|                IBAN|Currency_Code|    Random_Number|Category| Group|Is_Active|         Description|Gender|Marital_Status|
+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+-------------------+--------------------+--------------------+-------------+-----------------+--------+------+---------+--------------------+------+--------------+
|  count|           1000000|         1000000|       899575|              899913|       899966|        899991|          899328|       899705|            900076|             899957|             899476|              899915|              899700|       900658|           900087|  899668|899791|   899741|              899597|900233|        900096|
|   mean| 504.9737112200014|            null|         null|                null|         null|          null|            null|         null|              null|               null| 6.00341888622502E9|3.785330130644796...|                null|         null|5504.445295843624|    null|  null|     null|                null|  null|          null|
| stddev|285.79972024412297|            null|         null|                null|         null|          null|            null|         null|              null|               null|2.307111981222393E9|1.247765855631419...|                null|         null|2598.168084374125|    null|  null|     null|                null|  null|          null|
|    min|              10.0|         Deposit| Aaron Abbott|000 Aaron Landing...|    Aaronberg|       Alabama|     Afghanistan| Abbott Group|Academic librarian|aabbott@example.com|      (200)201-4254|         60400015693|GB02AAAU191993009...|          AED|           1000.0|       A|     X|       No|A American and to...|Female|      Divorced|
|    max|            1000.0|      Withdrawal|    Zoe Young|    99999 Mark Vista|  Zunigaville|       Wyoming|        Zimbabwe|Zuniga-Wilson|      Youth worker|zzuniga@example.org|         9999777682| 4999984361512569455|GB98ZZXM257326775...|          ZWD|           9999.0|       D|     Z|      Yes|Yourself young ev...| Other|        Single|
+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+-------------------+--------------------+--------------------+-------------+-----------------+--------+------+---------+--------------------+------+--------------+

In [19]:
# fill Up the missing values

df_clean = df.fillna({
    'Customer_Name' : 'Unknown',
    'Customer_Address': 'Unknown',
     'Customer_City' : 'Unknown', 
     'Customer_State' : 'Unknown',
     'Customer_Country' : 'Unknown',
     'Company' : 'Unknown',
     'Job_Title' : 'Unknown',
     'Email' : 'Unknown', 
     'Phone_Number' : 'Unknown',
     'Credit_Card_Number' : 0,
     'IBAN' : 'Unknown',
     'Currency_Code' : 'Unknown',
     'Random_Number' : 0.0,
     'Category' : 'Unknown',
     'Group' : 'Unknown',
     'Is_Active' : 'Unknown',
     'Last_Updated' : 'Unknown',
     'Description' : 'Unknown',
     'Gender' : 'Unknown',
     'Marital_Status' : 'Unknown'
})

In [20]:
# Drop the missing values in Last_Updated column

df_clean = df_clean.na.drop(subset = ['Last_Updated'])

In [22]:
# checking for nulls after cleaning

for column in df_clean.columns:
    print(column, 'Nulls: ', df_clean.filter(df_clean[column].isNull()).count() )

Transaction_Date Nulls:  0
Amount Nulls:  0
Transaction_Type Nulls:  0
Customer_Name Nulls:  0
Customer_Address Nulls:  0
Customer_City Nulls:  0
Customer_State Nulls:  0
Customer_Country Nulls:  0
Company Nulls:  0
Job_Title Nulls:  0
Email Nulls:  0
Phone_Number Nulls:  0
Credit_Card_Number Nulls:  0
IBAN Nulls:  0
Currency_Code Nulls:  0
Random_Number Nulls:  0
Category Nulls:  0
Group Nulls:  0
Is_Active Nulls:  0
Last_Updated Nulls:  0
Description Nulls:  0
Gender Nulls:  0
Marital_Status Nulls:  0

In [23]:
df.columns

['Transaction_Date',
 'Amount',
 'Transaction_Type',
 'Customer_Name',
 'Customer_Address',
 'Customer_City',
 'Customer_State',
 'Customer_Country',
 'Company',
 'Job_Title',
 'Email',
 'Phone_Number',
 'Credit_Card_Number',
 'IBAN',
 'Currency_Code',
 'Random_Number',
 'Category',
 'Group',
 'Is_Active',
 'Last_Updated',
 'Description',
 'Gender',
 'Marital_Status']

In [ ]:
# Data Transformation to 2NF
# Transaction Table

transaction = df_clean.select() \
                        .withColumn('Transaction_ID', monotonically_increasing_id()) \
                        .select('Transaction_ID', 'Transaction_Date', 'Amount', 'Transaction_Type', 'Credit_Card_Number', 'IBAN', 'Currency_Code''Transaction_Date', 'Amount', 'Transaction_Type', 'Credit_Card_Number', 'IBAN', 'Currency_Code')

In [71]:
transaction.show(5)

+--------------+--------------------+------+----------------+------------------+--------------------+-------------+
|Transaction_ID|    Transaction_Date|Amount|Transaction_Type|Credit_Card_Number|                IBAN|Currency_Code|
+--------------+--------------------+------+----------------+------------------+--------------------+-------------+
|             0|2024-03-23 15:38:...| 34.76|      Withdrawal|  3592901394693441|GB98RBPP090285271...|          MAD|
|             1|2024-04-22 19:15:...|163.92|      Withdrawal|                 0|GB03KFZR339662263...|          VEF|
|             2|2024-04-12 19:46:...|386.32|      Withdrawal|      675983949974|GB59QYRN446730519...|          COP|
|             3|2024-04-17 15:29:...|407.15|         Deposit|     4761202519057|GB74FTDO268299438...|          BWP|
|             4|2024-02-10 01:51:...|161.31|         Deposit|   213156729655186|GB94EWRN587847592...|          SOS|
+--------------+--------------------+------+----------------+------------------+--------------------+-------------+
only showing top 5 rows

In [41]:
#Customer Table

customer = df_clean.select('Customer_Name', 'Customer_Address', 'Customer_City', 'Customer_State', 'Customer_Country', 'Company', 'Job_Title', 'Email', 'Gender', 'Phone_Number') \
                            .withColumn('Customer_ID', monotonically_increasing_id()) \
                            .select('Customer_ID', 'Customer_Name', 'Customer_Address', 'Customer_City', 'Customer_State', 'Customer_Country', 'Company', 'Job_Title', 'Email', 'Gender', 'Phone_Number')

In [42]:
customer.show(5)

+-----------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------+-------------------+
|Customer_ID| Customer_Name|    Customer_Address|     Customer_City|Customer_State|    Customer_Country|             Company|           Job_Title|               Email| Gender|       Phone_Number|
+-----------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------+-------------------+
|          0|    James Neal|54912 Holmes Lodg...| West Keithborough|       Florida|                Togo|Benson, Johnson a...|             Unknown|             Unknown|  Other|  493.720.6609x7545|
|          1|   Thomas Long| 1133 Collin Passage|        Joshuabury|   Connecticut|Lao People's Demo...|             Unknown|   Food technologist|michellelynch@exa...| Female|      (497)554-3317|
|          2|Ashley Shelton|5297 Johnson Port...|       North Maria|    New Jersey|              Bhutan|       Jones-Mueller|Database administ...| ljordan@example.org|  Other|      (534)769-3072|
|          3| James Rosario|56955 Moore Glens...|North Michellefurt|    New Mexico|             Iceland|       Vargas-Harris|Horticultural the...|parkerjames@examp...|Unknown|+1-447-900-1320x257|
|          4|Miguel Leonard|262 Beck Expressw...|           Unknown| West Virginia|             Eritrea|Richardson, Gonza...|   Minerals surveyor| zweaver@example.net| Female|            Unknown|
+-----------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------+-------------------+
only showing top 5 rows

In [43]:
# fact table

fact_table = df_clean.join(transaction, ['Transaction_Date', 'Amount', 'Transaction_Type', 'Credit_Card_Number', 'IBAN', 'Currency_Code'], 'inner') \
                    .join(customer, ['Customer_Name', 'Customer_Address', 'Customer_City', 'Customer_State', 'Customer_Country', 'Company', 'Job_Title', 'Email', 'Phone_Number'], 'inner') \
                    .select('Transaction_ID', 'Customer_ID', 'Currency_Code', 'Random_Number', 'Category', 'Group', 'Last_Updated', 'Description')

In [30]:
fact_table.show(5)

+--------------+-----------+-------------+-------------+--------+-----+--------------------+--------------------+
|Transaction_ID|Customer_ID|Currency_Code|Random_Number|Category|Group|        Last_Updated|         Description|
+--------------+-----------+-------------+-------------+--------+-----+--------------------+--------------------+
|   42949716102|42949716102|          CHF|       4820.0|       A|    Y|2020-07-02 02:26:...|             Unknown|
|   77309448187|77309448187|          GIP|          0.0|       C|    Z|2021-05-07 01:57:...|They boy approach...|
|   68719547757|68719547757|          GNF|       2411.0|       B|    Y|2022-09-11 14:32:...|Before personal d...|
|   25769855930|25769855930|          CVE|       6611.0|       A|    Y|2023-10-31 02:21:...|             Unknown|
|   34359814090|34359814090|      Unknown|       7029.0|       B|    Z|2022-04-07 12:11:...|She morning price...|
+--------------+-----------+-------------+-------------+--------+-----+--------------------+--------------------+
only showing top 5 rows

In [ ]:
# Data loading

# Create a function to create tables
def create_table():
    conn = psycopg2.connect(
        host = 'localhost',
        database = 'Nuga_Bank',
        user = 'postgres',
        password = 'Grateful@1'
    )
    cursor = conn.cursor()
    
    # Drop tables if they exist
    cursor.execute("DROP TABLE IF EXISTS customer CASCADE;")
    cursor.execute("DROP TABLE IF EXISTS transaction CASCADE;")
    cursor.execute("DROP TABLE IF EXISTS fact_table CASCADE;")
                           
    # Commit changes before recreating table
    conn.commit()                       
                           
    # Create Customer Table                       
    create_customer_table = '''    
                            CREATE TABLE customer (
                                Customer_ID BIGINT,
                                Customer_Name VARCHAR (10000),
                                Customer_Address VARCHAR (10000), 
                                Customer_City VARCHAR (10000),
                                Customer_State VARCHAR (10000),
                                Customer_Country VARCHAR (10000),
                                Company VARCHAR (10000),
                                Job_Title VARCHAR (10000),
                                Email VARCHAR (1000),
                                Gender VARCHAR (100),
                                Phone_Number VARCHAR (100)
                            );
                        '''
    cursor.execute(create_customer_table)

    
    # Create Transaction Table                        
    create_transaction_table = '''
                                CREATE TABLE "transaction" (
                                Transaction_ID BIGINT,
                                Transaction_Date DATE,
                                Amount FLOAT,
                                Transaction_Type VARCHAR (10000),
                                Credit_Card_Number BIGINT,
                                IBAN VARCHAR (10000),
                                Currency_Code VARCHAR (100)
                            );
                        '''
    cursor.execute(create_transaction_table)

    #Create Fact_Table 
    create_fact_table = '''
                            CREATE TABLE fact_table (
                            Transaction_ID BIGINT,
                            Customer_ID BIGINT,
                            Currency_Code VARCHAR (100),
                            Random_Number FLOAT,
                            Category VARCHAR (1000),
                            "Group" VARCHAR (1000),
                            Last_Updated VARCHAR (10000),
                            Description VARCHAR (10000)
                        );
                    '''
    cursor.execute(create_fact_table)

    conn.commit()
    cursor.close()
    conn.close()

In [68]:
create_table()

In [69]:
url = "jdbc:postgresql://localhost:5432/Nuga_Bank"
properties = {
    "user" : "postgres",
    "password" : "Grateful@1",
    "driver": "org.postgresql.Driver"
}

customer.write.jdbc(url = url, table = "customer", mode = "append", properties = properties)

In [73]:
transaction.write.jdbc(url = url, table = "transaction", mode = "append", properties = properties)
fact_table.write.jdbc(url = url, table = "fact_table", mode = "append", properties = properties)